body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    padding: 20px;
}



.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.custom-table th {
    background-color: #f4f4f4;
}

/* Responsive Styles */
@media (max-width: 768px) {

    .custom-table,
    .custom-table th,
    .custom-table td {
        display: block;
    }

    .custom-table th {
        background-color: #f4f4f4;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .custom-table td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

    .custom-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
    }

    .custom-table td:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
}